*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.45rem;
  margin-top: 3.5rem;
  background-color: #f9f7fe;
}

.world-clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
  padding: 1rem 0;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

header a {
  color: #000;
  text-decoration: none;
}

header, main, footer {
  width: 350px;
  max-width: 100%;
}

h1 {
  font-size: 1.75rem;
}

.logo {
  width: 125px;
  height: 55px;
}

.select-city select {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0.5px solid silver;
  border-radius: 3px;
  cursor: pointer;
}

.current-location {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
}

.current-location .current-city {
  font-size: 22px;
  font-weight: bold;
  line-height: 2;
}

.current-location .current-date,
.current-location .current-time,
.city-date small,
footer {
  font-size: 13px;
}

.current-location .current-date,
.current-location .current-time,
.city-date h3 {
  line-height: 1.6;
}

.display-city {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
  max-width: 100%;
}

.city-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px silver dashed;
}

.city-date h3 {
  font-size: 22px;
}

.city-date small {
  color: #a0a0a0;
}

.city-date-container h2 {
  font-size: 32px;
  width: 50%;
}

.city-date {
  width: 45%;
}

span {
  font-size: 11px;
}

footer {
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
}

footer a, span {
  text-decoration: none;
  color: purple;
}